ipykernel==6.30.1
matplotlib==3.10.6
matplotlib-inline==0.1.7
pandas==2.3.3
plotly==6.3.1
pydantic==2.11.10
pydantic-ai==1.0.15
pydantic-ai-slim==1.0.15
pydantic-evals==1.0.15
pydantic-graph==1.0.15
pydantic-settings==2.11.0
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
regex==2025.9.18
requests==2.32.5
scipy==1.16.2
sentence-transformers==5.1.1
streamlit==1.50.0
streamlit_dynamic_filters==0.1.9
torch==2.8.0
tqdm==4.67.1
transformers==4.57.0
urllib3==2.5.0
wordcloud==1.9.4
beautifulsoup4==4.14.2
bs4==0.0.2
